*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(90deg, rgb(61, 0, 69) 30%, rgb(0, 11, 165)100%);

}

.centro{
    display: grid;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.centro.X .quadrado:not(.X):not(.O):hover::before,
.centro.X .quadrado:not(.X):not(.O):hover::after{
    background: rgba(0, 0, 0, 0.05) !important;/*Informar que essa condição tem preferencia */
}

.centro.O .quadrado:not(.X):not(.O):hover::before,
.centro.O .quadrado:not(.X):not(.O):hover::after{
    background: rgba(0, 0, 0, 0.05) !important;/*Informar que essa condição tem preferencia */
}

.quadrado{
    width: 150px;
    height: 150px;
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.quadrado.X,
.quadrado.O{
    cursor: not-allowed;/*Indicar campo proibido no cursor*/    
}

.quadrado:nth-child(1),
.quadrado:nth-child(2),
.quadrado:nth-child(3){
    border-top: none;/* Retirar borda dos quadrados */
}
.quadrado:nth-child(1),
.quadrado:nth-child(4),
.quadrado:nth-child(7){
    border-left: none;
}
.quadrado:nth-child(3),
.quadrado:nth-child(6),
.quadrado:nth-child(9){
    border-right: none;
}
.quadrado:nth-child(7),
.quadrado:nth-child(8),
.quadrado:nth-child(9){
    border-bottom: none;
}

/* Mensagem de vitoria */
.msg_vendeu{
    /* Aqui !!!!!!! */
    display: none;
    /* display: flex;    */
    position: fixed;/* Indicar posicição fixa  */
    top: 0;/*  */
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    flex-direction: column; 
}

.placar{
    background-color: black;
    width: 800px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
}

.texto_placar{
    font-size: 5rem;
    color: white;
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.reiniciar{
    font-size: 2.5rem;
    background-color: rgb(144, 63, 155);
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    margin-top: 16px;
    color: white;
}
.reiniciar:hover{
    color: rgb(144, 63, 155);;
    background: white;
}

.venceu{
    font-size: 5rem;
    color: white;
}


.Surge-messagem{
    display: flex;
}

    /* Fazendo o X */
.quadrado.X::before,/* Divivir o preenchimento do quadrado em 2 (before e after) */
.quadrado.X::after,
.centro.X .quadrado:not(.X):not(.O):hover::after,/*Com o hover(aciona quando o curso esta na posicao(quadrado))*/
.centro.X .quadrado:not(.X):not(.O):hover::before{/*com o not eu limito ao hover nao acionar quando tiver a classe x e o*/
    content: "";
    height: calc(150px * 0.15);/* Falar que a altura é 15% da celula(por que o tamanho dela é 150 pixel)*/
    width: calc(150px * 1.2);/* Falar que a largura é 15% da celula(por que o tamanho dela é 150 pixel) */
    background: black;
    position: absolute;
}

.quadrado.X::before,
.centro.X .quadrado:not(.X):not(.O):hover::before{
    transform: rotate(45deg);/*Rotacionar metade do conteudo da celular (before)*/
}

.quadrado.X::after,
.centro.X .quadrado:not(.X):not(.O):hover::after{
    transform: rotate(-45deg);/*Rotacionar metade do conteudo da celular (after) no sentido contraio da outra*/
}

/* Fazendo o circulo */
.quadrado.O::before,
.quadrado.O::after,
.centro.O .quadrado:not(.X):not(.O):hover::after,/*Com o hover(aciona quando o curso esta na posicao(quadrado))*/
.centro.O .quadrado:not(.X):not(.O):hover::before{
    content: "";
    height: calc(150px * 0.95);
    width: calc(150px * 0.95);
    background: black;
    position: absolute;
    border-radius: 50%;/*Aredondar o conteudo*/
    
}
